@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    display: inline-block;
    padding: 30px;
}

#logo {
    align-items: center;
    width: 60px;
}

#title {
    font-size: 80px;
    display: inline-block;
    margin: 0;
    align-items: center;
}

body {
    background-color: #f6f8f9;
}

#titleSection {
    padding: 10px 60px;  
    width: 70%;
    background-color: #ffffff;
    margin: auto;
    margin-top: 80px;
    line-height: 50px;
    border-bottom: 4px solid #f6f8f9;
}

#b1 {
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    border-color:1px solid #47ADF1;
    background-color: #47ADF1;
    font-size: larger;
}

#b2 {
    padding: 10px;
    border-radius: 10px  ;
    color: #D1D6DA;
    border-color:1px solid #D1D6DA;
    background-color: #ffffff;
    font-size: larger;
}

#mainSection {
    font-size: 1.5em;
    padding: 10px 60px;
    width: 70%;
    background-color: #ffffff;
    margin: auto;
    height: 80%;
    line-height: 80px;
}

.check {
    font-size: 20px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: green;
    border: 2px solid green;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.cross {
    font-size: 20px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: red;
    border: 2px solid red;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
}

.bluButton {
    background-color: #47ADF1;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.violetButton {
    background-color: #9C72E4;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.greenButton {
    background-color: #64C0A9;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.orangeButton {
    background-color: #F29E33;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.fucsiaButton {
    background-color: #D863A1;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}

.limeButton {
    background-color: #B0C926;
    color: #ffffff;
    border-radius: 15px;
    padding: 10px;
}
